.block1-action{
    position: absolute;
    top: 4px;
    right: 0;
    line-height: 1;
    cursor: pointer;
}

.block1-trendItem{
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    margin-left: 16px;
}

.block-trendText{
    margin-left: 8px;
    color: rgba(0,0,0,.85);
}

.ant-card{
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ant-card-body{
    padding:16px 24px 16px;
}


.block1-1-pages{
    position: relative;
}

.block1-1-pages-1{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.block1-1-pages-1-metaWrap{
    float:left;
}

.block1-1-pages-1-meta{
    height: 22px;
    color: rgba(0,0,0,.45);
    font-size: 14px;
    line-height: 22px;
}

.block1-1-pages-1-total{
    height: 38px;
    margin-top: 4px;
    margin-bottom: 0;
    overflow: hidden;
    color: rgba(0,0,0,.85);
    font-size: 30px;
    line-height: 38px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.block1-1-pages-2{
    height: 46px;
    position: relative;
    width: 100%;
}

.block1-1-pages-2-contentFixed{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}